manifest {
    homePage = 'https://github.com/eipm/rnaseq-messaging'
    defaultBranch = 'main'
    name = 'rnaseq-messaging'
    author = 'Kathryn Gorski'
}

env {
    BASH_MESSAGING_ENABLED = "${params.pipeline_messaging_enabled}"
    DISPATCHER_URL = params.dispatcherURL
}

profiles {
    azurebatch {
        workDir = params.workdir
        process.executor = 'azurebatch'
        process.container = 'docker.io/alpine/curl:3.14'
        azure {
            activeDirectory {
                servicePrincipalId = params.active_directory_principal_id
                servicePrincipalSecret = params.active_directory_principal_secret
                tenantId = params.active_directory_tenant_id
            }
            batch {
                location = params.batch_location
                accountName = params.batch_account_name

                autoPoolMode = true
                allowPoolCreation = true
                deletePoolsOnCompletion = true
                copyToolInstallMode = 'task'
                pools {
                    auto {
                        vmType = 'Standard_D2_v3'
                        vmCount = 3
                        virtualNetwork = params.virtual_network
                        privileged = true
                    }
                }
            }
            storage {
                accountName = params.storage_account_name
            }
            registry {
                server = 'docker.io'
                userName = params.registry_username
                password = params.registry_password
            }
        }
    }
}